* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #f9fff3;
}

/* HEADER STYLING */
header {
    background-color: #f9fff3;
    padding: 3rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header h1 {
    font-size: 6rem;
    color: #152408;
    position: relative;
    /* color:#f4feea; */
}

header h1:hover {
    background-image: linear-gradient(#112201, #182808, #48860a 80%);
    background-size: cover;
    background-clip: text;
    color: transparent;
    cursor: pointer;
    animation: logo-jump 2s ease-in-out backwards infinite;
}

/* ANIMATION */
@keyframes logo-jump {
    0%{
        transform: rotate('180deg');
        transform: scale(0.9);
        opacity: 0.9;
    }
    100%{
        transform: rotateX(none);
        transform: scale(1, 1);
        opacity: 1;
    }
}

header nav {
    width: 50%;
    display: flex;
    justify-content: right;
}

header nav ul {
    width:  60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li {
    list-style-type: none;
}

header a {
    text-decoration: none;
    font-size: 2.5rem;
    color: #152408;
    font-weight: bold;
}

header a:hover {
    background-image: linear-gradient(to right, #112201, #182808, #48860a 70%);
    background-size: cover;
    background-clip: text;
    color: transparent;
}

header input {
    padding: 2rem 2rem;
    background-color: transparent;
    font-size: 1.8rem;
    border-radius: 30px;
    position: relative;
}




/* HERO STYLING */
#hero {
    width: 100%;
    position: relative;
}

#hero img {
    width: 100%;
    height: 100rem;
    position: relative;
}

#hero .overlay {
    width: 100%;
    height: 100rem;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    animation: overlay-image-down-slide 3s 0.5s ease forwards;
}

/* ANIMATION */
@keyframes overlay-image-down-slide {
    0% {
        height: 20rem;
        opacity: 0.7;
    }
    /* 25% {
        height: 40rem;
        opacity: 0.8;
    }
    75% {
        height: 80rem;
    } */
    50% {
        height: 60rem;
        opacity: 0.9;
    }
    100%{
        height: 100rem;
        opacity: 1;
    }
}

#hero .hero-txt {
    position: relative;
    bottom: 65rem;
    /* left: 70rem; */
    z-index: 1;
    text-align: center;
}

#hero .hero-txt h1 {
    font-size: 13rem;
    text-align: center;
    color: white;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-txt p {
    font-size: 4rem;
    color: #ffffff;
    position: relative;
    text-align: center;
    position: relative;
}

#hero .hero-txt p:hover {
    cursor: pointer;
}

#hero .hero-txt p::after {
    content: "";
    width: 4%;
    height: 0.55rem;
    background-color: white;
    position: absolute;
    bottom: -1.7rem;
    right: 85rem;
}

#hero .hero-txt p:hover::after {
    background: linear-gradient(to right, #2c4f0c, #182808, #67b31c 70%);
    cursor: pointer;
    animation: underline-slide 1.5s ease-in-out infinite;
}

/* ANIMATIONS */
@keyframes underline-slide {
    0%{
        opacity: 0.7;
    }
    50%{
        opacity: 0.9;
        width: 11%;
        right: 80rem;
    }
    100%{
        opacity: 1;
        width: 19%;
        right: 72.8rem;
    }
}


#hero .hero-txt p::before {
    height: 5rem;
    width: 10rem;
    background-color: yellow;
}

#hero i {
    color: white;
    font-size: 5rem;
    position: relative;
    top: -30rem;
    left: 89rem;
    animation: arrow-jump 0.9s linear infinite;
}

/* ANIMATIONS */
@keyframes arrow-jump {
    0% {
        opacity: 0.6;
        top: -29rem;
    }
    100% {
        opacity: 1;
        top: -30rem;
    }
}


/* SECTION ONE STYLING */
#one {
    background-color: #f4feea;
    padding: 5rem 5rem 15rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -21.7rem;
}

#one img {
    width: 100%;
    margin-bottom: 3rem;
}

#one h2 {
    font-size: 3rem;
}

#one .o-main {
    width: 90%;
    margin: 8rem auto 3rem;
    display: flex;
    margin-left: 12%;
}

#one .one-a, #one .one-b, #one .one-c {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 38rem;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 3px 8px;
}

#one .one-c {
    width: 55%;
}

#one p {
    margin: 1rem auto;
    padding: 2rem 1rem 3rem;
    text-align: center;
    font-size: 1.8rem;
    position: relative;
    width: 90%;
}

#one .one-b:hover, #one .one-a:hover {
    width: 68%;
    height: 39rem;
    cursor: pointer;
}

#one .one-c:hover {
    width: 58%;
    height: 39rem;
    cursor: pointer;
}



#one p::before {
    content: "";
    height: 0.5rem;
    width: 5rem;
    border-radius: 10px;
    background-color:#112201;
    position: absolute;
    top: 0rem;
    left: 12rem;
    transition: all 1s linear;
}

#one p:hover::before {
    cursor: pointer;
    width: 20rem;
    height: 0.6rem;
    left: 4rem;
    top: 7.5rem;
    animation: color-change 2.5s ease infinite;
}

/* ANIMATION */
@keyframes color-change {
    0% {
        background: linear-gradient(to right, #2c4f0c, #182808, #67b31c 70%);
    }
    50% {
        background: linear-gradient(to right, #182808, #67b31c 70%, #2c4f0c);
    }
    100% {
        background: linear-gradient(to right, #2c4f0c, #182808, #67b31c 70%);
    }
}


/* SECTION TWO STYLING */
#two {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

#two img {
    width: 50%;
}

#two img:hover {
    width: 50.5%;
    cursor: pointer;
}

.two-txt {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#two h2 {
    font-size: 3rem;
    margin: 4rem auto;
    position: relative;
}

#two h2::after {
    content: "";
    height: 0.4rem;
    width: 4.5rem;
    background-color:#112201;
    position: absolute;
    top: 4rem;
    left: 3.5rem;
}

#two h2:hover::after {
    animation: color-change 2.5s ease infinite;
    cursor: pointer;
    height: 0.6rem;
    width: 10.5rem;
    border-radius: 10px;
    left: 0;
}

#two p {
    font-size: 1.9rem;
    line-height: 2.4rem;
}


/* SECTION THREE STYLING */
#three {
    text-align: center;
    margin: 0 auto;
    background-color: #f5feeb;
    padding: 8rem 0;
}

#three h3 {
    font-size: 3rem;
    margin: 0.8rem auto;
}

#three p {
    font-size: 1.8rem;
    margin: 1rem auto 2rem;
}

#email {
    width: 30%;
    padding: 2.5rem;
    margin: 1rem auto 2rem;
    background-color: #f9fff2;
    border: none;
    font-size: 1.5rem;
}

#three .btn {
    padding: 1.7rem 4.5rem;
    font-size: 1.75rem;
    background-color: transparent;
    margin-top: 2rem;
    border-width: 3px;
    position: relative;
    border-radius: 15px;
}

.btn:hover {
    border: none;
    background: linear-gradient(to right, #112201, #182808, #48860a 70%);
    color: #f9fff3;
    font-size: 2rem;
}

#three .btn:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px, 3px 8px;
}


/* FOOTER STYLING */
footer {
    margin: 0 auto;
    padding: 4rem 0;
}

.f-b {
    display: flex;
    justify-content: right;
}

ul {
    width: 38%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

ul li {
    list-style-type: none;
}

li a {
    color: black;
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: bold;
}

footer li a:hover {
    background-image: linear-gradient(to right, #112201, #182808, #48860a);
    background-size: cover;
    background-clip: text;
    color: transparent;
}
